<!DOCTYPE html>
{% load bootstrap3 %}

<html>
    <head>
        {% bootstrap_css %}
        <meta charset="utf-8">
        <title>Quack Overflow</title>
    </head>
    <body>
        <div class="container">

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{% url 'index' %}">Home</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'signup' %}">Welcome {{ request.user }}<span class="sr-only">(current)</span></a></li>
                                <li><a href="{% url 'question_create'%}">Create A Question</a></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            {% else %}
                                <li><a href="{% url 'signup' %}">Signup<span class="sr-only">(current)</span></a></li>
                                <li><a href="{% url 'login' %}">Login<span class="sr-only">(current)</span></a></li>
                            {% endif %}
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>

        {% block content %}
        {% endblock %}
        {% bootstrap_javascript jquery=1 %}

    </body>
</html>
