{% extends 'base.html' %}
{% block content %}
<div class="container">

    {% for question in object_list %}

        <div class="panel panel-default">
            <div class="panel-heading"><b>{{ question.title }} -- asked by {{ question.asker }}</b></div>

            <p>{{ question.question_text}}</p>

            Tags:
            {% for tag in question.tags.all %}
                <b>{{ tag }}</b>
            {% endfor %}
            <br>
        {% if not question.answer_set.all %}
            <a href="{% url 'answer_create' question.pk %}">Be The First To Answer This Question</a>
        {% else %}
            <a href="{% url 'answer_create' question.pk %}">Answer This Question</a>
        {% endif %}
        <br>
    <!--answer block-->
        <h3>Answers</h3>
        <ul>
        {% for answer in question.answer_set.all %}
            <br>
                <li><b>{{ answer.title }}</b> -- Answered by {{ answer.answerer }}</li>

            <li>{{ answer.answer_text }}</li>
            Answer Rating: {{ answer.score }}
            <a href="{% url 'upvote' answer.pk %}">Upvote</a>
            <a href="{% url 'downvote' answer.pk %}">Downvote</a>
        {% endfor %}
        </ul>
        <br><br>
        </div>
    {% endfor %}
</div>
{% endblock %}
