{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="col s6 m6 l6">
        Welcome to Quack Overflow. Feel free to ask questions for users to
        answer. Or answer them yourself. <br><br>

    </div>
    {% for question in object_list %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <b>
                    {{ question.title }} -- asked by
                    <a href="{% url 'user_detail' question.asker.userprofile.pk %}">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-user">
                                {{ question.asker }}
                            </span>
                        </button>
                    </a>
                </b>
            </div>

            <p>{{ question.question_text}}</p>

            Tags:
            {% for tag in question.tags.all %}
                <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"><b>{{ tag }}</b></span>
                </button>
            {% endfor %}
            <br>
        {% if not question.answer_set.all %}
            <br>
            <a href="{% url 'answer_create' question.pk %}">
                <button type="button" class="btn btn-default" aria-label="Left Align">
                    Be The First To Answer This Question
                </button>
            </a>
        {% else %}
            <br>
            <a href="{% url 'answer_create' question.pk %}">
                <button type="button" class="btn btn-default" aria-label="Left Align">
                    Answer This Question
                </button>
            </a>
        {% endif %}
    <!--answer block-->
        {% if question.answer_set.all %}
        <br><br>
            <h4>Answers:</h4>
        {% endif %}
        {% for answer in question.answer_set.all %}
            <br>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span><b> {{ answer.title }}</b>
                -- Answered by <a href="{% url 'user_detail' answer.answerer.userprofile.pk %}">
                    <button type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-user">
                            {{ answer.answerer }}
                        </span>
                    </button>
                </a>
            <br>
            {{ answer.answer_text }}
            <br>
            Answer Rating: <b>{{ answer.score }}</b>

            <a href="{% url 'upvote' answer.pk %}">
                <button type="button" class="btn btn-default btn-xs">
                Upvote
                </button>
            </a>
            <a href="{% url 'downvote' answer.pk %}">
                <button type="button" class="btn btn-default btn-xs">
                    Downvote
                </button>
            </a>
        {% endfor %}
        <br><br>
        </div>
    {% endfor %}
</div>
{% endblock %}
